@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "SinhalaFont";
  src: url("/fonts/Sinhala.TTF");
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: grey;
  color: #b32025;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nopad {
  padding: 0;
  border: 0;
}

.textcenter {
  text-align: center;
}

.darkbg {
  background-color: #2b2b2b;
}

.lightbg {
  background-color: #d8d8d8;
}

.bgt80 {
  background: rgba(255, 255, 255, 1);
}

.navbar {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-dark .navbar-toggler {
  color: rgba(179, 32, 37, 1);
  border-color: rgba(179, 32, 37, 1);
}

.smico {
  height: 1rem;
  margin: 0.3rem;
}

.container-fluid {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

section[id]:before {
  display: block;
  height: 56px; /* equal to the header height */
  margin-top: -56px; /* negative margin equal to the header height */
  visibility: hidden;
  content: "";
}

.headerfw {
  width: 100%;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainlogo {
  background-image: url(../img/logo-shadow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
}

.scrollico {
  background-image: url(../img/scrolldown.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.random {
  background-color: #2b2b2b;
  height: 5000px;
  width: 100%;
}

.infosection {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ecf0f1;
}

.IntroLeft {
  background-image: url(/img/IntroLeft.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.IntroRight {
  background-image: url(/img/IntroRight.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bio {
  padding: 2rem;
  padding-bottom: 0rem;
}

.redoverlay {
  background-color: rgba(179, 32, 37, 0.75);
}

.parallax {
  background-image: url(/img/chilliBG.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chinfo {
  padding: 2rem;
  padding-bottom: 0rem;
  color: #fff;
}

.chpro {
  background-color: #eeefea;
}

.chproduct {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infotitle {
  font-size: 3.5rem;
  font-weight: 400;
}

.infopad {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.infopadhalf {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.extrapad {
  padding-bottom: 2rem;
}

.ordernow {
  background-color: #b32025;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  display: inline-block;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.ordernow:hover {
  background-color: #921e22;
}

.mfpro {
  background-color: #dfe1de;
}

.sinhala {
  font-family: "SinhalaFont";
}

.otherpro {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.othertitlepad {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.otherleft {
  background-image: url(/img/OtherLeft.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.otherright {
  background-image: url(/img/OtherRight.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.otherlist {
  font-weight: 400;
}

.otherbotpad {
  padding-bottom: 1.5rem;
}
